@import '../../../assets/variable.scss';

.change-pass{
    &__description{
        font-size: 16px;
        font-weight: 500;
        margin: 20px 0 15px 0;
    }

    &__password{
        margin-bottom: 8px;
        display: block;
        width: 320px !important;
        font-size: 14px;
        padding: 12px;
        border: 2px solid #DFE1E6;
        border-radius: 4px;
        outline: none;

        &::placeholder{
            font-size: 14px;
            color: #6B778C;
        }

        &:focus{
            border: 2px solid darken(#2684FF, 20);
        }
    }


    &__continue{
        margin-top: 15px;
        width: 100%;
        padding: 12px 0;
        background-color: #2684FF;
        border: none;
        border-radius: 4px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }



    &__password-block{
        position: relative;

        label{
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-65%);
            cursor: pointer;
        }
    }

    &__check{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        .progress{
            width: 23%;
            height: 2px;
            border-radius: 2px;
            background-color: red;

            
        }

        .green{
            background-color: greenyellow;
        }
    }
}